# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# Database files
*.db
*.sqlite3

# Uploads
uploads/

# Logs
*.log

# Temp files
temp.py

# HTML debug outputs
*_debug_*.html

# OS specific files
.DS_Store
Thumbs.db 